<h2>Details for <%= @user %>:</h2>

<h4>Email: </h4>
<p><%= @email %></p>

<h4>Interests: </h4>
<p><%= @interests.join(", ") %></p>

<ul>
  <% @users.each do |user, _| %>
    <% unless user == @user_name %>
      <li><a href="<%= user %>"><%= user %></a></li>
    <% end %>
  <% end %>
</ul>